.app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-page {
  display: flex;
}

.left-navigation {
  width: 2%;
  padding: 20px;
  border-right: solid 1px #DBDBDB;
}

.middle-section {
  width: 28%;
  padding: 30px;
  border-right: solid 1px #DBDBDB;
}

.right-section {
  width: 70%;
}

.banner-image { 
  width: 100%;
}

@media only screen and(max-width: 768px) {
  .main-page {
    flex-direction: column-reverse;
  }

  .left-navigation, .middle-section, .right-section {
    width: 100%;
  }
}