.search-section {
  display: flex;
  justify-content: space-between;
}

.search-box {
  padding: 15px 5px;
  margin-top: 14px;
  margin-bottom: 5px;
  border: solid 1px #DBDBDB;
  border-radius: 4px;
  width: 100%;
  font-family: 'samsungsharpsans';
  font-size: 10px;
  color: #A9A9A9;
}

.search-icon {
  position: relative;
}

.search-icon img {
  position: absolute;
  top: 28px;
  right: 15px;
  z-index: 1;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 32px 0;
}

.filter-options .active {
  color: #E51058;
}