.right-side-content {
  padding: 30px;
  background: url('../../public/banner-web-image.svg') no-repeat, linear-gradient(180deg, #DBDBDB, white 10%);
}

.right-side-header { 
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
}

.right-side-header .icons-list {
  display: flex;
  margin: unset;
}

.right-side-header .icons-list li {
  margin-bottom: unset;
}

.right-side-header .icons-list img {
  width: 35px;
  height:  35px;
  margin-right: 10px;
}

.right-side-content .toggle-options button {
  padding: 10px;
}

.right-side-content .toggle-options button.active::after {
  content: "";
  border-bottom: 2px solid #E51058;
  width: 15%;
  display: block;
  margin: 10px auto 0 auto;
}

@media only screen and (max-width: 768px) {
  .right-side-content {
    padding: 15px;
    background: url('../../public/banner-mobile-image.svg') no-repeat;
  }

  .right-side-header {
    margin-top: 150px;
  }
}
